body, html {  height: 100%;  -webkit-tap-highlight-color: transparent;font-family: 'Microsoft yahei',Arial!important;  }
body{background:#374248;}
button,input,select{outline:none;border:0;font-family: "Microsoft yahei",Arial!important;}
ul,ol{list-style:none;}
em{font-style:normal;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.ov{overflow:hidden;}
.tx{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.fl{float:left;}
.fr{float:right;}
.bs{box-sizing:border-box;}
.foot-opacity{background: #1f2326;opacity:0.95;}
.bgf{background:#fff;}
.bgfe{background:#ffde00;}
.bgfa{background:#fabe00;}
.bg35{background:#1f2326;}
.bg49{background:#2c333b;}
.bgca{background:#cacaca;}
.bg37{background:#374248;}
.c2{color:#222;}
.c9{color:#999;}
.c6{color:#666;}
.cf{color:#fff;}
.cfe{color:#ffde00;}
.f16{font-size:16px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f18{font-size:18px;}
.f12{font-size:12px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f30{font-size:30px;}
.f36{font-size:36px;}
.fn{font-weight:400;}
.dis{display:block;}
.dis-flex{display: -webkit-flex; display:flex;}
.dis-in{display:inline-block;}
.img{display:block;width:100%;}
.ver{vertical-align: middle;}
.bo{border-radius:50%;}
.br-5{border-radius:5px;}
.br-10{border-radius:10px;}
.pos-fixed{position:absolute;width:100%;z-index:3;left:0;}
.pos-rel{position:relative;}
.wh-30{width:30px;height:30px;}
.wh-40{width:40px;height:40px;}
.wh-20{width:20px;height:14px;}
.w-100{width:100%;}
.w-50{width:50%;}
.w-35{width:35%;}
.w-65{width:65%;}
.w-250{width:250px;}
.w_100{width:100px;}
.w-77{width:77.5px;}
.w-25{width:25px;}
.w-20{width:20px;}
.w-140{width:140px;}
.line-h{line-height:1.0;}
.line-h-8{line-height:0.8;}
.h-14{height:14px;line-height:14px;margin-top:6px;}
.h_20{height:20px;line-height:15px;}
.h-21{height:21px;line-height:21px;}
.h-17{height:17px;line-height:17px;}
.h-20{height:20px;line-height:20px;}
.h-22{height:22px;line-height:22px;}
.h-24{height:24px;line-height:24px;}
.h-27{height:27px;line-height:27px;}
.h-30{height:30px;line-height:30px;}
.h-40{height:40px;line-height:40px;}
.h-42{height:42.5px;line-height:42.5px;}
.h-45{height:45px;line-height:45px;}
.h-29{height:29px;line-height:29px;}
.h-25{height:25px;line-height:25px;}
.h-35{height:35px;line-height:35px;}
.h-39{height:39px;line-height:39px;}
.h-49{height:49px;line-height:49px;}
.h-65{height:65px;line-height:65px;}
.h-100{height:100px;line-height:100px;}
.h-140{height:140px;}
.h-145{height:145px;}
.h-77{height:77.5px;}
.mt-80{height:80px;}
.h_100{height:100%;}
.mr-5{margin-right:5px;}
.mr-10{margin-right:10px;}
.ml-12{margin-left:12px;}
.ml-30{margin-left:30px;}
.ml-43{margin-left:43px;}
.ml-44{margin-left:44px;}
.mr-20{margin-right:20px;}
.ml-10{margin-left:10px;}
.mt-40{margin-top:40px;}
.mt-35{margin-top:35px;}
.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-12{margin-top:12.5px;}
.mt-25{margin-top:25px;}
/*.mt-80{margin-top:80px;}*/
.padd-top-15{padding-top:15px;}
.padd-left-15{padding-left:15px;}
.padd-left-25{padding-left:25px;}
.padd-left-30{padding-left:30px;}
.padd-left-5{padding-left:5px;}
.padd-right-10{padding-right:10px;}
.padd-right-15{padding-right:15px;}
.padd-5{padding:5px;}
.padd-6{padding:6.5px 10.5px 5px;}
.padd-7{padding:0 7.5px;}
.padd-10{padding:0 10px;}
.padd-tb-15{padding:15px 0;}
.mar-5{margin:0 5px;}
.mar-10{margin:0 10px;}
.mar-15{margin:0 15px;}
.mar-20{margin:0 20px;}
.mar-7{margin:5px 0 5px 7.5px;}
.mar-tb-12{margin:12.5px 0;}
.mar-bot-5,.mar-bot-100{margin-bottom:5px;}
.mar-bot-8{margin-bottom:8px;}
.mar-bot-10{margin-bottom:10px;}
.mar-bot-12{margin-bottom:12.5px;}
.mar-bot-15{margin-bottom:15px;}
.mar-bot-50{margin-bottom:50px;}
/*.mar-bot-100{margin-bottom: 100px;}*/
.a{width:100%;display:block;}
.bor-bt-31{border-bottom: 1px solid #5b5b5b;}
.bor-bt{border-bottom:1px solid #5b5b5b;}
.bor-tp{border-top:1px solid #5b5b5b;}
.bor-tp-31{border-top:1px solid #5b5b5b;}
.border{border:1px solid #ffde00;}
.bor{border:1px solid #e6e6e6;}
.bor-85{border-top:1px solid #858c8f;}
.bor-bl{border-top:1px solid #858c8f;}
.bor-layer{border:1px solid #858c8f;}
.raised{-webkit-box-shadow: 0px 2px 2px #000; box-shadow: 0px 2px 2px #000;}
.raised_1{-webkit-box-shadow: 0px 0px 2px #000; box-shadow: 0px 0px 2px #000;}
a.ye-active:active{background:#DEC100;}
a.ya-active:active{background:#fabe00;}
a.bg35:active{background:#5A5959;}
.grey:active{background-color:#22272D;}
a.but-btn:active{background:#DEC100;}
.finish-btn:active{background-color:#313435;}
.text{text-align:center;}
/*省略号*/
.ellip{overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}

/*登录*/
.login-content p:nth-of-type(1){width:110px;height:110px;margin:38px auto 12.5px;}
.login-content p:nth-of-type(3){margin:43px auto 17.5px;}
.login-num{width:100%;box-sizing:border-box;padding:0 15%;}
.login-num li{float:left;width:16.665%;text-align:center;}
.login-num li input{width:1.5rem;height:1.5rem;line-height:1.5rem;border-radius:0.75rem;margin:0 auto;}
.nvitation{margin:0 auto;width:62.5%;}
.nvitation input{border-radius: 50px;}
.login-foot a{display:block;margin:35px 10.9375% 36px;width:78.125%;height:35px;line-height:35px;border-radius: 5px;}
.login-foot h5{color:#ffde00;}

/*登录*/

/*联系我们*/
/*.back{background:url(../images/icon-zjt-1.png) no-repeat 10px center;background-size:10px 15px;}*/
.touch-content p:nth-of-type(1){width:185px;height:185px;margin:50px auto 20px;}
.touch-foot{bottom:0;}
/*联系我们*/

/*活动列表*/
.active-head,.index-head{position:fixed;top:0;left:0;z-index:3;}
.active-img{position:absolute;width:30px;height:30px;right:15px;top:5px;}
.active-content>div{margin-top:10px;}
.active-act{width:60px;height:60px;display:block;position:absolute;top:0;right:0;
    background-repeat: no-repeat;background-size:60px;background-position:center center;}
.active-in{background-image:url(../images/recruit.png);}
.active-end{background-image:url(../images/complete.png);}
.active-content>div p:nth-of-type(1){margin:0 16px;}
.content-con{margin:0 15px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
a.weui_media_box:active {
    background-color: rgba(0,0,0,0);
}
/*活动列表*/

/*首页*/
.swiper-wrapper{height:145px;}
.swiper-container-horizontal > .swiper-pagination-bullets {top: 0px;left:12px; width: auto; }
.swiper-pagination-bullet{width: 5px;height: 5px;vertical-align: middle;  display: inline-block;  border-radius: 50%;  background: #fff;  opacity: 1.0;}
.swiper-pagination-bullet-active {opacity: 1.0;background: #ffde00;width:7px;height:7px;}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 3px;}
.index-title{position:absolute;left:15px;bottom:10px;}
.index-eges{padding:0 5px;}
.index-eges a:nth-of-type(1){background:url(../images/icon-eyes.png) no-repeat left center;background-size:20px 15px;}
.index-eges a:nth-of-type(2){background:url(../images/icon-right.png) no-repeat right center;background-size:10px 9px;}
.weui_media_box.weui_media_appmsg .index-con{margin-right:5px;width: 110px;height: 90px;line-height: 90px;}
.index-name{background:url(../images/name.png) no-repeat 5px center;background-size:13px 12px;display:flex;display:-webkit-flex;}
.index-name span{padding:0 10px 0 25px;flex:1;-webkit-flex:1;-webkit-box-flex:1;overflow:hidden;}
.index-name em{display:inline-block;background:url(../images/amr.png) no-repeat center center;background-size:20px 14px;width:20px;height:29px;}
.index-age{background:url(../images/age.png) no-repeat 6px center;background-size:13px 15px;}
.index-sport{background:url(../images/hob.png) no-repeat 5px center;background-size:15px 15px;}
.index-address{background:url(../images/place.png) no-repeat 7.5px center;background-size:10px 15px;}
.index-content .weui_media_box:before,.weui_tabbar:before,.weui_cell:before,.weui_cells:after, .weui_cells:before,.weui_cells_access .weui_cell_ft:after{width:0;height:0;border:0}
.weui_tabbar_icon{height:20px;}
.weui_tabbar_item{padding:5px 0 0;}
.foot-opacity div{background-repeat: no-repeat;background-position:center center;height: 20px;margin: 0 auto;}
.foot-one div{width: 25px;}
.foot-two div,.foot-fout div{width: 20px;}
.foot-three div{width: 28px;}
.foot-one .foot-on{background-image:url(../images/icon-index-y.png);background-size:25px 20px;}
.foot-one .foot-down{background-image:url(../images/icon-index-f.png);background-size:25px 20px;}
.foot-two .foot-on{background-image:url(../images/icon-foot-y.png);background-size:20px 20px;}
.foot-two .foot-down{background-image:url(../images/icon-foot-f.png);background-size:20px 20px;}
.foot-three .foot-on{background-image:url(../images/icon-eyes-y.png);background-size:28px 20px;}
.foot-three .foot-down{background-image:url(../images/icon-eyes-f.png);background-size:28px 20px;}
.foot-four .foot-on{background-image:url(../images/icon-me-y.png);background-size:20px 20px;}
.foot-four .foot-down{background-image:url(../images/icon-me-f.png);background-size:20px 20px;}
.weui_tabbar_item .current{color: #ffde00;}
.weui_tabbar_item p{color: #fff;}
.weui_tabbar_icon+.weui_tabbar_label {margin-top: 0;}
#wrapper{position: absolute;z-index: 1;top: 40px;  bottom: 45px;  left: 0;  width: 100%;}
#scroller {position: absolute;z-index: 1;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);width: 100%;
    -webkit-transform: translateZ(0);  transform: translateZ(0);  -webkit-touch-callout: none;  -webkit-user-select: none; user-select: none;  -webkit-text-size-adjust: none;}
/*首页*/

/*个人中心*/
.person-int{padding:15px 0 7.5px;margin:0 15px;}
.progress_bar{height: 4px;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius: 2em;-webkit-box-flex: 1; -webkit-flex: 1;-ms-flex: 1;flex: 1;margin-top: 8px;margin-left:5px;}
.progress_inner{height: 100%;-webkit-border-radius: 2em;  -moz-border-radius: 2em;  border-radius: 2em;}
.progress_span{position:absolute;left:50%;top:6px;width:34px;margin-left:-17px;font-weight:700;}
.person-detail{margin:0 15px;padding:7.5px 0 10px;line-height:1.0;}
.person-detail p:nth-of-type(1){margin-bottom:10px;}
.nationality{background:url(../images/amr.png) no-repeat center center;background-size:20px 14px;margin-left:7.5px;width:20px;height:14px;}
.me-cla{padding:10px;}
.me-cla h4{margin-bottom:12.5px;}
.cla-detail li{width:25%;text-align: center;margin-bottom: 1rem;float:left;}
.cla-detail li button{width: 2.5rem;height: 2.5rem;line-height: 2.5rem;border-radius:1.25rem;}
/*个人中心*/

/*近期活动*/
.discontent{background: url(../images/icon-zjt-1.png) no-repeat 10px center; background-size: 10px 15px;width:50px;height:40px;position:absolute;top:0;left:0;}
.weui_cells_access .weui_cell:not(.no_access):active {background-color: rgba(0,0,0,0);}
/*已结束印章签*/
/*.active-finish{width：100%;position:relative;}*/
.active-finish_end{height:125px;width:166px;position:absolute;left:110px;top:50px;z-index:3;}
/*--更改-已结束印章签*/


.active-finish_end img{width:166px;height:125px;}
.weui_media_box.weui_media_appmsg .near-img{width:100px;height:100px;margin-right:10px;}
.active-join{position:fixed;margin-top:40px;left:0;z-index:2;background:rgba(0,0,0,.9);font-size:13px;}
.active-join .weui_cell{padding:10px 15px 10px 10px;}
.weui_cell_ft{width:13px;height:45px;background:url(../images/icon-fork-y.png) no-repeat center center;background-size:13px;}
.near-right p span{margin-left:18px;}
.near-one{line-height:18px;margin-bottom:6px;height:36px;overflow:hidden;}
.near-two{background:url(../images/people-1.png) no-repeat left center;background-size:13px 10px;}
.near-three{background:url(../images/people-2.png) no-repeat left center;background-size:12px 10px;}
.near-four{background:url(../images/money.png) no-repeat left center;background-size:12px 12px;}
.near-detail{padding:10px 0;}
.near-detail p span{padding-left:20px;}
.near-detail-1{background:url(../images/time.png) no-repeat left center;background-size:11px 11px;}
.near-detail-2{background:url(../images/place.png) no-repeat left center;background-size:10px 13px;}
.near-detail-3{background:url(../images/name.png) no-repeat left center;background-size:12px 11px;}
.tea{width:40px;height:14px;background:url(../images/amr.png) no-repeat center center;background-size:20px 14px;margin:-1px 0 0 0;}
/*.tea{width:20px;height:14px;background:url(../images/amr.png) no-repeat center center;background-size:20px 14px;margin:-1px 15px 0 7.5px;}*/
.ques{width:15px;height:15px;background:url(../images/more-info-button.png) no-repeat center center;background-size:15px;margin-top: -2px;}
.near-active{color:#fff;margin-top:15px;}
.near-explain{line-height:18px;height:54px;overflow:hidden;margin:12.5px 5px;}
.near-foot{bottom:0;z-index:2;}
.near-foot a:nth-of-type(1) i{width:11px;height:45px;background:url(../images/boult.png) no-repeat center center;background-size:11px 12.5px}
.near-foot a:nth-of-type(2){background:url(../images/icon-join.png) no-repeat left center #1f2326;background-size:1px 45px;}
.near-foot a:nth-of-type(2) i{width:12.5px;height:45px;background:url(../images/two_code.png) no-repeat center center;background-size:12.5px;}
.near-foot a:nth-of-type(2):active{background-color:#313435;}
/*近期活动*/

/*活动详情*/
.detail-title{padding:6px 0 }
.detail-title .near-explain{margin:6px 0;}
.active-video{background:url(../images/bg2.jpg) repeat-x ;background-size:100% 145px;}
/*活动详情*/

/*老师详情*/
.tea-del{webkit-box-flex: 1;  -webkit-flex: 1;  -ms-flex: 1; flex: 1;}
.tea-del p span{margin-left:0;}

/*老师详情*/

/*弹层-遮罩层*/
.layer{top:0;background:rgba(0,0,0,.7);height:100%;display:none;}
/*联系客服弹层*/
.contact-ser{position:fixed;left:50%;top:20%;width:92.1875%;margin-left:-46.09375%;z-index:10;display:none;}
.contact-ser h4{border-top-right-radius: 5px;border-top-left-radius: 5px;}
.close{position:absolute;background:url(../images/icon-close.png) no-repeat center center;width:19px;height:19px;background-size:19px;top:-8px;right:-8px;}
.contact-ser p:nth-of-type(1){margin:27.5px auto 22.5px;}
.contact-ser p:nth-of-type(2){padding-bottom:30px; margin:0 25px;}
.contact-ser p:nth-of-type(3){margin:15px auto;}
.weixin-code{width:230px;height:130px;margin:0 auto 15px;padding:15px 0 15px 10px;}

/*老师弹层*/
.tea-layer,.teach-layer,.class-layer{position:fixed;left:50%;top:25%;width:82.8125%;margin-left:-41.40625%;z-index:10;display:none;}
.tea-layer a:nth-of-type(1){padding:17.5px;}
.weui_media_box.weui_media_appmsg .tea-img{margin-right:25px;  width: 105px;  height:105px;  line-height: 105px;  text-align: center;}
.tea-img{border-radius:50%;}
/*老师弹层*/

/*邀请好友上课弹层*/
.share{top:0;z-index:5;height:100%;background-image:url(../images/share-bg.png);background-size:100%;display:none;}
.share-active{top:0;z-index:5;height:100%;background-image:url(../images/share-active.png);background-size:100%;display:none;}
/*邀请好友上课弹层*/

/*老师信息弹层*/
.teacher-image{width:75px;height:75px;margin:0 auto 5px;}
/*老师信息弹层*/

/*课时确认弹层*/
.class-layer p{height:122px;line-height:122px;margin:0 auto;}
.class-layer>div{height:42px;line-height:42px;margin:0 auto;}
.class-layer>div a:nth-of-type(1){border-right:1px solid #5b5b5b;box-sizing:border-box;background-size:1px 42px;}


/*下课课时*/
.class-time{padding-top:70px}
.class-time a{width:140px;height:140px;line-height:140px;border-radius:50%;margin:0 auto 30px;}
/*下课课时*/

/*下课确认*/
.class-sure{margin:0 auto ;overflow: hidden;}
.sure-img{width:90px;height:92px;line-height:90px;border-radius:50%;margin:45px auto 20px;}
.class-look{margin:35px auto 15px;}
.class-ser{margin:0 auto;}
.class-img{position:fixed;bottom:0px;height:120px;}
.class-img img{height:100%;}
/*.class-time a:hover{background-color:#dec100;}*/
/*下课确认*/

/*外教列表*/
/*.fore-left{width:28.125%; position: fixed;top: 40px; bottom: 45px;}
.foreign-right{width:71.875%; position: fixed;top: 40px; bottom: 45px;left:28.125%;}*/
.fore-left{top:40px; bottom: 45px;position:fixed;left:0;}
.foreign-right{margin-left:90px;}
.fore-left ul li a{color:#fff;}
.fore-left ul li a.current{color:#ffde00;}
.all-nationality li:nth-of-type(2){background:url(../images/amr.png) no-repeat 10% center;background-size:20px 14px;}
.all-nationality li:nth-of-type(3){background:url(../images/uk.png) no-repeat 10% center;background-size:20px 14px;}
.all-nationality li:nth-of-type(4){background:url(../images/canada.png) no-repeat 10% center;background-size:20px 14px;}
.all-nationality li:nth-of-type(5){background:url(../images/other.png) no-repeat 10% center;background-size:18px 18px;}
.fore-right{z-index:1; overflow: auto;background: #374248;}
.all-sex li:nth-of-type(2){background:url(../images/boy.png) no-repeat 10% center;background-size:12px 20px;}
.all-sex li:nth-of-type(3){background:url(../images/girl.png) no-repeat 10% center;background-size:12px 20px;}
.report-errors{margin:110px auto 0;}
.tea_list{
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}
 .pinned{z-index:2;width:100%;}
.sort_letter{font-size:15px;color:#999;height:20px;line-height:20px;padding-left:10px;background:#374248;box-sizing: border-box;width:100%;background: #374248;}
.recommend{position:absolute;top:0;left:0;z-index:5;width:100%;background:#374248;}
.teacher-list a:last-child{border:0;}
.container .sort_list:last-child{border:0;}
/*外教列表*/

/*续费弹窗*/
.class-end{font-size:36px;color:#fff;position:fixed;left:50%;top:25%;width:82.8125%;margin-left:-41.40625%;border:1px solid #ffde00;}
.class-end p span{text-align：center;}

.btn:active{background-color:#2c333b;border-radius:0 0 6px 6px; }
.btn-l:active{background-color:#2c333b;border-radius:0 0 0 6px; }
.btn-r:active{background-color:#2c333b;border-radius:0 0 6px 0; }
